{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Edit Sample</title>
    <link rel="stylesheet" type="text/css" href="{% static 'sampleapp/css/style.css' %}" />
</head>
<body>
    <h1>Edit Sample</h1>
    <p>{{message}}</p>
    {% if id %}
    <form action="{% url 'update' id %}" method="post">
    {% else %}
    <form action="{% url 'create' %}" method="post">
    {% endif %}
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="{{ button_txt }}">
    </form>
</body>
</html>